<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="InteroperadorlImplServiceSoapBinding">
                <security mode="Transport">
                  <transport clientCredentialType="Basic" proxyCredentialType="Basic" realm="">
                    <extendedProtectionPolicy policyEnforcement="Never"/>
                  </transport>
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://interoperabilidad.dinardap.gob.ec:7979/interoperador" binding="basicHttpBinding" bindingConfiguration="InteroperadorlImplServiceSoapBinding" contract="ServiceReferenceDINARDAP.IInteroperador" name="InteroperadorlImplPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
